@model IEnumerable<ECMAvaliacaoMVC.Models.Entidades.Produto>
@{
    ViewBag.Title = "Produtos";
}

<div class="row">
    <div class="col-md-12">
        <h1>Pesquisar produtos</h1>
        <p class="lead">Digite o nome do produto que deseja pesquisar em nosso catálogo
        <span class="glyphicon glyphicon-exclamation-sign" style="cursor: pointer;" title="Para pesquisar com menos de 3 caracteres, aperte ENTER ou clique na lupa"></span>
        </p>
    </div>
@using (Html.BeginForm("", "", FormMethod.Get))
{
    <div class="col-md-12">
        <div id="div-pesquisa-input">
            <div class="input-group col-md-12">
                @Html.TextBox("inputPesquisa", null, new { @class = "form-control input-lg", placeholder = "Digite" })
                <span class="input-group-btn">
                    <button id="botaoPesquisa" class="btn btn-info btn-lg" type="button" title="Pesquisar">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 20%;">Cód.</th>
                    <th style="width: 30%;">Nome</th>
                    <th style="width: 30%;">Marca</th>
                    <th style="width: 20%;">Preço</th>
                </tr>
            </thead>
            <tbody id="resultadoTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Codigo</td>
                        <td>@item.Nome.ToUpper()</td>
                        <td>@item.Marca.Nome</td>
                        <td>@item.Preco.ToString("c")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
</div>

<style type="text/css">
    #div-pesquisa-input {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
    }

        #div-pesquisa-input input {
            border: 0;
            box-shadow: none;
        }

        #div-pesquisa-input button {
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

            #div-pesquisa-input button:hover {
                border: 0;
                box-shadow: none;
                border-left: solid 1px #ccc;
            }

        #div-pesquisa-input .glyphicon-search {
            font-size: 23px;
        }
</style>

<script>
    $(document).ready(function () {
        $('#inputPesquisa').keyup(function () {
            if ($(this).val().length > 2) {
                envia($(this).val());
            }
        });
        $('#inputPesquisa').keypress(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                envia($(this).val());
            }
        });
        $('#botaoPesquisa').on('click', function () {
            envia($('#inputPesquisa').val());
        });
    });

    function envia(termo) {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "http://localhost:51181/api/produtos/" + termo,
            async: true,
            success: function (resultado) {
                $('#resultadoTable').empty();
                if (resultado.length == 0) {
                    $('#resultadoTable').html("<tr><td colspan='4' style='text-align: center;'><i>Nenhum produto encontrado.</i></td></tr>");
                }
                else {
                    $.each(resultado, function (index, value) {
                        $('#resultadoTable').append("<tr>" +
                            "<td>" + value.Codigo + "</td>" +
                            "<td>" + value.Nome.toUpperCase() + "</td>" +
                            "<td>" + value.Marca.Nome + "</td>" +
                            "<td>R$ " + value.Preco.toString().replace(".", ",") + "</td>" +
                        "</tr>");
                    });
                }
            }
        });;
    }
</script>